{% extends "part-part-base.html" %}

{% block content %}
    <a href="/">TOP</a>
    <a href="/blog" class="main-title">MyLoginBlog</a>
    <h2>edit post</h2>
    <form method="post">
        <label>
            <div>subject</div>
            <input type="text" name="subject" value="{{ post.subject }}">
        </label>
        <label>
            <div>blog</div>
            <textarea name="content">{{ post.content }}</textarea>
        </label>
        <input type="submit" value="update">
    </form>
{% endblock %}
